# https://www.serverless.com/blog/serverless-python-packaging/
# $ virtualenv venv --python=python3
# $ source venv/bin/activate
# $ pip install ***
# $ pip freeze > requirements.txt
# $ npm init
# $ npm install --save serverless-python-requirements

service: vaccinate-texas
frameworkVersion: '2'

provider:
  name: aws
  runtime: python3.8
  timeout: 60
  profile: default
  lambdaHashingVersion: 20201221
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - s3:*
      Resource: '*'
    - Effect: "Allow"
      Action:
        - secretsmanager:*
      Resource: '*'

package:
  exclude:
    - venv/**

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: non-linux
    noDeploy: 
      - boto3
      - botocore
    
functions:
  fetch_heb: 
    handler: fetch_heb.main
    events: 
      - schedule: 
          rate: rate(10 minutes)
  fetch_tdem: 
    handler: fetch_tdem.main
    events: 
      - schedule: 
          rate: rate(1 hour)

